@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
:root{
  --font-family:'Poppins', sans-serif;
  --primary-color: #3468C0;
  --secondary-color: #FFDD95;
  font-size: 62.5%;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  text-align: center;
  margin: 0;
  background-color: var(--primary-color);
  color:var(--secondary-color);
  font-family: var(--font-family);
}

h1{
  font-size: 8rem;
}

h3{
  font-size: 3.2rem;
}

.mensagem{
  font-size: 2.4rem;
  margin-top: 40px;
}

.box{
  display: inline-block;
  border: 2px solid var(--secondary-color);
  border-radius: 8px;
  padding: 10px;
  margin: 20px;
  font-size: 6.4rem;
}

.not-valid{
  color: #FF004D;
}
